body{
    margin: 0 0;
}
header{
    margin: 0 auto;
}
main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
footer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.slide-1, .slide-2, .slide-3, .slide-4, .slide-5, .slide-6{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 78px;

}
.slide-1{background-image: url(../img/main/box-1/picture_home1\ \(1\).svg); justify-content: end;}
.slide-2{background-image: url(../img/main/box-1/offer2_image\ \(1\).svg); }
.slide-3{background-image: url(../img/main/box-1/offer3_linear.png);}
.slide-4{background-image: url(../img/main/box-1/Frame\ 237.png);}
.slide-5{background-image: url(../img/main/box-1/offer5_image\ \(1\).svg);}
.slide-6{background-image: url(../img/main/box-1/offer6_image.png);}

.box3-bg-img-left{
    width: 410px;
    height: 500px;
    display: flex;
    justify-content: end;
    background-image: url(../img/main/box-3/image_villa\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box3-bg-img-right{
    width: 410px;
    height: 500px;
    background-image: url(../img/main/box-3/image_villas\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "Avenir Next Medium";
    src: url("font/AvenirNextLTPro-Medium.otf");   
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("font/FontsFree-Net-Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("font/Montserrat-Medium.ttf");
}
@media screen and (max-width: 565px) {
    .offer-text-services{
        text-align: center;
    }
    .slide-box{
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 479px){
    header nav{
        display: none;
    }
    .header-content{
        margin: 0 20px;
    }
    .menu-burger img{
        display: block;
    }
    .menu-burger div{
        display: none;
    }
    .box-4{
        padding: 60px 0;
        background-color: black;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px){
    .box4-card{
        flex-direction: column;
        align-items: center;
        
    }
    .box3-opacity{
        display: none;
    }
   
    
    .slide2-content{
        padding-left: 500px;
    }
    /* ///////////// */
    
}
@media screen and (max-width: 828px){
    .box-3{
        display: flex;
        flex-direction: column;
    }
    .box3-bg-img-left, .box3-bg-img-right{
        height: 290px;
        width: 100%;
    }
    .box3-opacity{
        display: none;
    }
    .box3-content{
        max-width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
    }

}
@media screen and (min-width: 768px) and (max-width: 1050px){
    header nav{
        display: none;
    }
    .logo{
        margin-left: 20px;
    }
    .menu-burger img{
        display: block;
        margin-right: 20px;
    }
    .slide-1{
        padding-left: 110px;
    }
   
}
@media screen and (min-width: 480px) and (max-width: 767px){
    header nav{
        display: none;
    }
    .header-content{
        margin: 0 20px;
    }
    .menu-burger img{
        display: block;
    }
    .box4-card{
        flex-direction: column;
        align-items: center;
        
    }
    .slide2-content{
        width: 400px;
    }
    /* ///////////////// */
}
@media screen and (max-width: 646px){
    .colum-1, .colum-2{
        display: none;
    }
    .box4-card{
        flex-direction: column;
        align-items: center;
    }
    .box2-card{
        width: 340px;
    }
    .box2-card img{
        width: 340px;
    }
    .box4-title{
        width: 400px;
        
    }
    .box4-text{
        width: 400px;
    }
    .item img{
        width: 80px;
    }
}
@media screen and (max-width: 350px){
    .box2-card{
        width: 240px;
    }
    .box2-card img{
        width: 240px;
    }
    .offer-text-services div{
        margin: 2px;
    }
    .offer-text-services{
        min-height: 50px;
    }
}