.footer-content{
    max-width: 1440px;
    width: 100%;
    min-height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.footer-text{
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.footer-img{
    text-align: center;
    display: inline-block;
}
.footer-img img{
}