.header-style{
    max-width: 1440px;
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(103, 46, 196);
    background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
}
.header-content{
    max-width: 1200px;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ol{
    list-style: none;
    display: flex;
    gap: 28px;
}

.header-text{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;

    font-family: "Avenir Next Medium";
}

.head-click{
    width: 180px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#FFDB80;
    border-radius: 30px;
}

.head-click a{
    text-decoration: none;
    color:  #6D31D0;

    font-family: "Montserrat SemiBold";
}
.menu-burger{
    display: flex;
    align-items: center;
    gap: 60px;
}
.burger{
    display: none;
}
