.swiper {
    width: 100%;
    height: 100%;
 

}
.size{
    max-width: 1440px;
    width: 100%;
    height: 740px;
    

}

.slide-box{
    max-width: 1124px;
    width: 100%;
    min-height: 319px;
    display: flex;
    flex-direction: column;
    gap:24px;
    
}
.offer-text-services{
    height: 20px;
    display: inline-block;
    

}
.offer-text-services div:nth-child(odd){
    background: rgba(109, 49, 208, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 5px;
    display: inline-block;
    
}
.and{
    width: 2px;
    height: 10px;
    background-color: white;
    display: inline-block;  
}
a{
    
    font-family: "Montserrat";
    font-size: 16px;
    text-decoration: none;
    color: #FFDB80;
    text-shadow: 0px 0px 80px #023F76;
    text-transform: uppercase;
    
}
.box-1-title{
    color: white;
}

.box-1-maintext1{
    max-width: 400px;
    font-size: 36px;
    font-family: "Montserrat";
}
.box-1-mainText{
    font-family: "Montserrat";
    font-size: 20px;
}
.box-1-poragraf{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    font-family: "Avenir Next Medium";
    max-width: 520px;
    width: 100%;
    letter-spacing: 0.5px;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 0px 80px #023F76;
    color: #FFFFFF;
}
.box-1-click{
    width: 200px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    gap: 10px;
    cursor: pointer;

    background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
    box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
    border-radius: 88.1657px;

    color: #6D31D0;
    font-size: 20px;
    font-family: "Montserrat SemiBold";
}

.box-1-card{
    max-width: 1124px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 10px;
    cursor: pointer;
}
.card-text{
    font-family: "Montserrat SemiBold";
    font-size: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    align-items: center;
}
.box1-content{
    display: flex;
    gap: 40px ;

}
.box-item{
    max-width: 144px;
    width: 100%;
    min-height: 180px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    padding: 7.5px;
    box-sizing: border-box;
}
.content-text{
    font-family: "Montserrat SemiBold";
    color: #828CDE;
    font-size: 20px;
}
.slide2-content, .slide3-content{
    max-width: 1175px;
    min-height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px
}
.slide2-content .box-1-maintext1{
    color: black;
    width: 564px;
}
.slide2-poragraf, .slide1-poragraf{
    font-family: "Avenir Next Medium";
    max-width: 449px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #434364;
}
.slide1-poragraf{
    color: white
}
.fixed{
    height: 740px;
    place-content: space-around center;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 50px;
}