.box-2{
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box-2 .text{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    box-sizing: border-box;
    
}
.box-2 .text .under-text{
    border-bottom: 4px solid white;
    padding-bottom: 15px;
}
.box2-maincard, .box2-maincard2{
    max-width: 1180px;
    box-sizing: border-box;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.box2-card{
    border-radius: 20px;
    height: 515px;
    background-color: white;
    text-align: center;
    display: inline-block;
}
.card-title{
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    box-sizing: border-box;
}
.card-poragraf{
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.fisket{
    margin: 0 auto;
}
.mid{
    margin: 20px 15px;
}
