.box-3{
    max-width: 1440px;
    width: 100%;
    min-height: 660px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.box3-opacity{
    max-width: 80px;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255, 0.5);
}
.box3-content{
    width: 480px;
    margin: 0 auto;
    min-height: 448px;
    display: flex;
    gap: 33px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.box3-title{
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    
}
.box3-poragraf{
    font-family: 'Avenir Next Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
}