.box-4{
    max-width: 1440px;
    width: 100%;
    min-height: 672px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
}
.box4-text{
    max-width: 580px;
    width: 100%;
    min-height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}
.box4-title{
    max-width: 440px;
    width: 100%;
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}
.box4-poragraf{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}
.box4-card{
    max-width: 1180px;
    width: 100%;
    width: 100%;
    min-height: 308px;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.box4-card .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    box-sizing: border-box;
}
.card-item-1{
    max-width: 280px;    
}
.card-item-1 a{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    color: #6D31D0;
    text-align: center;
}
.box4-card-2{
    font-family: "Avenir Next Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
}
.colum-1, .colum-2{
    display: flex;
    box-sizing: border-box;
}

